# Workflow for building and deploying LDoc to Artifact, and optionally Pages
name: Deploy LDoc to Artifact (Optional Pages)

on:
  # Runs on pushes
  push:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      deploy_page:
        description: 'Deploy to GitHub Pages?'
        required: false
        default: false
        type: boolean

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages and PR interactions
permissions:
  contents: read

jobs:
  # Build job
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Isolate LDoc source
        run: |
            mkdir "${{ runner.temp }}/source/"
            for f in ./* ; do
                if [ -f "$f" ]; then
                    cp "$f" "${{ runner.temp }}/source/$f"
                fi
            done
      - name: Setup Pages
        if: ${{ inputs.deploy_page }} 
        uses: actions/configure-pages@v3
      - name: Setup Lua
        uses: leafo/gh-actions-lua@v9
        with:
          luaVersion: 5.1
      - name: Install LuaRocks
        uses: leafo/gh-actions-luarocks@v4.3.0
      - name: Install Dependencies
        run: |
            luarocks install luafilesystem
            luarocks install penlight
            luarocks install ldoc
      - name: Run LDoc
        run: ldoc "${{ runner.temp }}/source/" --template "${{ runner.temp }}/source/" --format="markdown" -d "${{ runner.temp }}/LDOC"
      - name: Upload Artifact (ZIP)
        uses: actions/upload-artifact@main
        with:
            name: 'LDOC_zip'
            path: "${{ runner.temp }}/LDOC"
            retention-days: 7
      - name: Create Artifact (TAR)
        if: ${{ inputs.deploy_page }} 
        run: |
            chmod -c -R +rX "${{ runner.temp }}/LDOC/" | while read line; do
              echo "::warning title=Invalid file permissions automatically fixed::$line"
            done
            tar \
              --dereference --hard-dereference \
              --directory "${{ runner.temp }}/LDOC/" \
              -cvf "${{ runner.temp }}/artifact.tar" \
              .
      - name: Upload Artifact (TAR)
        if: ${{ inputs.deploy_page }} 
        uses: actions/upload-artifact@main
        with:
            name: 'LDOC_tar'
            path: ${{ runner.temp }}/artifact.tar
            retention-days: 7
    
  # Optional page deployment job
  deploy:
    if: ${{ inputs.deploy_page }} 
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    permissions:
      pages: write
      id-token: write
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1
        with:
          artifact_name: 'LDOC_tar'